{% extends "edc_dashboard/listboard.html" %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load traineeproject_dashboard_extras %}
             
{% block listboard_panel %}
    <a id="subjectscreening_add" title="add screening" class="btn btn-sm btn-default" role="button" 
        href="{{ subject_screening_add_url }}?next={{ screening_listboard_url }}">
            <i class="fa fa-plus fa-sm"></i> Add Subject Screening
    </a>
    <a id="return_to_home" title="go back" class="btn btn-sm btn-default" role="button" 
        href="/">
            <i class="fa fa-arrow-left fa-sm"></i> Go Back
    </a>
{% endblock listboard_panel %}


{% block listboard_table_header %}
    <!-- begin results header -->
    <th>#</th>
    <th></th>
    <th>Screening Identifier</th>
    <th>Subject Identifier</th>
    <th>Age</th>
    <th>User</th>
    <!-- end results header -->
{% endblock listboard_table_header %}


{% block listboard_table_button_column %}
    <td style="white-space: nowrap">
    <div class="btn-group">

        {% eligibility_confirmation_button result %}
        {% if not result.is_eligible %}
            {% eligibility_button result %}

        {% endif %}

        {% if result.is_eligible %}
            {% consent_button result %}
            {% if result.consent %}
                {% if result.screening and not result.screening.object.is_eligible  %}{% endif %}

                    {% screening_ineligibility_button result %}
                {% else %} 
                    {% screening_eligibility_button result %} 
                    {% if result.screening %}
                        {% dashboard_button result %}
                    {% endif %}   

                {% endif %}
           
        {% endif %}
    
    </div>
    </td>
{% endblock listboard_table_button_column %}
{% comment %} testing the above  {% endcomment %}


{% comment %} 

{% block listboard_table_button_column %}
    <td style="white-space: nowrap">
    <div class="btn-group">
    {% screening_button result %}
    {% eligibility_button result %}
    {% if result.is_eligible %}
        {% if result.consent %}
            {% dashboard_button result %}
        {% else %}
            {% consent_button result %}
        {% endif %}
    {% endif %}
    </div>
    </td>
{% endblock listboard_table_button_column %}
{% if result.is_eligible %}
        {% if result.is_consented %}
            {% dashboard_button result %}
        {% else %}
            {% consent_button result %}
        {% endif %}
    {% endif %}
{% endcomment %}


{% block listboard_table_columns %}

    <td>{{ result.screening_identifier }} </td>
    <td nowrap>{% if "092" in result.consent.subject_identifier %}{{ result.consent.subject_identifier }}{% endif %}</td>
    <td nowrap>{{ result.age_in_years }} yrs</td>
    <td nowrap>{{ result.user_created }}</td>

{% endblock listboard_table_columns %}