<a id="subjectconsent_add_{{ screening_identifier }}" 
title="{{ title }}"
class="btn btn-warning btn-sm" data-toggle="tooltip"  data-placement="right"
   href="{{ add_consent_href }}">
Consent (v{{ consent_version }})
</a>


{% comment %} 
<a id="subjectconsent_add_{{ screening_identifier }}" title="{{ title }}"
{% if not subject_identifier %}
class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="right"
href="{{ add_consent_href }}"
{% else %}
class="btn btn-sucess btn-sm" data-toggle="tooltip" data-placement="right"
href="{{ add_consent_href }}">
{% endif %}
Consent (c{{consent_version}})

</a> {% endcomment %}


