{% extends 'edc_subject_dashboard/dashboard/appointments.html' %}
{% load edc_subject_dashboard_extras %}



{% block complete_appt %}
	{% if wrapped_visit.appt_status == COMPLETE_APPT %}
	          <a id="review_btn_{{ wrapped_visit.visit_code }}_{{ wrapped_visit.visit_code_sequence }}" role="button" class="btn btn-sm btn-default" href="{{ wrapped_visit.forms_url }}?edc_readonly=1">
	              <i class="fa fa-pencil-alt fa-sm" aria-hidden="true"></i> Review
	          </a>
	{% endif %}
{% endblock %} 

	